#grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 600px;

    justify-content: center;
    align-items: center;

        
}

.cell {
    width: calc(600px / var(--items-per-row));
    height: calc(600px / var(--items-per-row));
    box-sizing: border-box;
    border: 0.3px solid black; /* Optional, for visual */
    background-color: #f2f0f0;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}